/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(52, 170, 122);
  background: linear-gradient(
    184deg,
    rgba(52, 170, 122, 1) 0%,
    rgba(114, 198, 164, 0.894) 100%
  );

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 5.9rem;
  padding-bottom: 0.8rem;
}

.bizz-logo {
  height: 10.8rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-grey-light-2);
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s;

  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(#222, 0.2);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-primary-50);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--color-primary-50);

  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(#222, 0.2);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-primary-100);
  transform: scaleX(1.4) scaleY(1.6);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  /* background-color: #fdf2e9; */
  background-image: url(../img/bizznest-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* padding: 9.8rem 0 12.6rem 0; */
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #fff;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  /* color: var(--color-primary-200); */
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 9.8rem;
  /* filter: brightness(0); */
  /* opacity: 50%; */
}

/**************************/
/* SECTION ABOUT */
/**************************/

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section {
  transition: transform 1s, opacity 1s;
}

.section-about {
  padding: 9.6rem 0;
  position: relative;
}

.section-how {
  padding: 9.6rem 0;
}

/* .section-bg::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.06;
  background-image: url(../img/background-matte.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -3;
} */

.step-number {
  font-weight: 500;
  color: var(--color-secondary-10);
  font-size: 9.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-text {
  font-size: 1.6rem;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-secondary-300);
  margin-bottom: 1.3rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  padding-bottom: 3.8rem;
}

.step-description-secondary {
  font-size: 1.8rem;
  line-height: 1.8;
  padding-bottom: 4.5rem;
}
.step-description-tertiary {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 700;
  padding-bottom: 4.5rem;
  padding: 1rem;
}

.step-img-box {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.step-img-box::before {
  width: 60%;
  /* 60% of parent's width  */
  padding-bottom: 60%;

  background-color: var(--color-secondary-400);
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--color-secondary-300);
  z-index: -1;
}

.step-img {
  width: 80%;
  padding: 1rem 0;
  border-radius: 3rem;

  z-index: 10;
}

.big {
  width: 110%;
}

/**************************/
/* MEALS SECTION */
/**************************/

.section-meals section {
  padding: 12.6rem 0;
  position: relative;
  background-color: var(--color-secondary-600);
  transition: transform 1s, opacity 1s;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  background-color: #fff;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #444444;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #72c6a4;
}
.tag--vegan {
  background-color: var(--color-primary-200);
}
.tag--paleo {
  background-color: #ffd43b;
}

.tag--video {
  background-color: var(--color-primary-100);
}

.meal-title {
  font-size: 2.5rem;
  color: #333;
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #ba2d8e;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  background-color: var(--color-secondary-500);
  padding: 12.3rem 0 15rem 0;
}

.grid-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 45%;
  gap: 1em;
  overflow-x: scroll;
  padding: 3rem 0;
}

.grid-scroller > * {
  padding: 4.8em 3em;
  border-radius: 20px;
}

/* .testimonial {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 230px 70px;
  align-items: center;
  justify-content: center;
  padding: 6rem 3rem;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.099);
  row-gap: 2rem;
  background-color: #ffff;
  transition: all 0.5s;
} */

/* TESTIMONIALS */

.testimonial {
  width: 80%;
  position: relative;
  background-color: var(--color-primary-50);
}

.testimonial::before {
  content: '\201C';
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary-200);
  z-index: 0;
}

.testimonial__header {
  font-size: 2.35rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  color: var(--color-grey-light-1);
}

.testimonial__text {
  font-size: 1.6rem;
  margin-bottom: 3.5rem;
  color: var(--color-grey-light-2);
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;
  color: var(--color-grey-light-2);

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

.testimonial:hover {
  box-shadow: inset 0 0 0 2px var(--color-secondary-400);
}
/* .testimonial-text {
  grid-column: 1 / 2;
  grid-row: 1;
  font-size: 1.6rem;
  line-height: 1.8;
  padding-bottom: 1.5rem;
}

.testimonial-img {
  grid-row: 2;
  grid-column: 1;
  width: 4.8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  justify-self: start;
  padding: 0.2rem 0.3rem;
  background-color: #333;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #404040;
  grid-row: 2;
  grid-column: 1 / 3;
  justify-self: center;
} */

@media (max-width: 59em) {
  /* .grid-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 70%;
    gap: 2em;
    overflow-x: scroll;
    padding: 5rem 0;
  }

  .grid-scroller > * {
    padding: 5.8em;
    border-radius: 20px;
  }

  .testimonial {
    grid-template-rows: 250px 70px;
    padding: 4rem 2rem;
    row-gap: 1.4rem;
  }

  .testimonial-text {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  } */

  .grid-scroller {
    grid-auto-columns: 75%;
  }
}

@media (max-width: 34em) {
  .grid-scroller {
    grid-auto-columns: 100%;
  }

  .grid-scroller > * {
    padding: 4.8em 3em;
    border-radius: 20px;
  }
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  /* 2/3 = 66.6% + 1/3 = 33.3% */
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #d5eee4, #aff9bf);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #333;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(116, 230, 207, 0.35),
      rgba(222, 245, 229, 0.35)
    ),
    url('../img/img-video.jpeg');
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdfaf8;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

textarea.input {
  resize: vertical;
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
